DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DATABASE_URL=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
DJANGO_SECURE_HSTS_SECONDS=0
SESSION_COOKIE_SAMESITE=Lax
CLOUDINARY_URL=
STORE_CURRENCY=GHS
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_GHS_TO_USD_RATE=0.065
STRIPE_SUCCESS_URL=http://127.0.0.1:5173/checkout/confirmation/{checkout_id}
STRIPE_CANCEL_URL=http://127.0.0.1:5173/checkout?cancelled=1
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
PAYPAL_GHS_TO_USD_RATE=0.065
PAYMENT_SUCCESS_URL=http://127.0.0.1:5173/checkout/confirmation/{checkout_id}
PAYMENT_CANCEL_URL=http://127.0.0.1:5173/checkout?cancelled=1
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=ECCO Store <no-reply@example.com>
FRONTEND_BASE_URL=http://127.0.0.1:5173
ANALYTICS_WEBSOCKET_BASE_URL=
ANALYTICS_WEBSOCKET_INTERVAL_SECONDS=5
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
APPLE_OAUTH_CLIENT_ID=
APPLE_OAUTH_TEAM_ID=
APPLE_OAUTH_KEY_ID=
APPLE_OAUTH_PRIVATE_KEY=
FACEBOOK_OAUTH_CLIENT_ID=
FACEBOOK_OAUTH_CLIENT_SECRET=
LINKEDIN_OAUTH_CLIENT_ID=
LINKEDIN_OAUTH_CLIENT_SECRET=
